/* ================
=== DEV BORDERS ===
================ */

/*
body {
  border: solid 2px red;
  box-sizing: border-box;
}
*/
/*
header {
  border: solid 2px orange;
  box-sizing: border-box;
}


/*

.main {
  border: solid 2px yellow;
  box-sizing: border-box;
}

*/

/*

.nav {
  border: solid 2px green;
  box-sizing: border-box;
}
*/
/*
.nav--docked {
  border: solid 1px purple;
}
*/
/*


.nav {
  border: solid 2px green;
  box-sizing: border-box;
}
.nav__button {
  border: solid 2px purple;
  box-sizing: border-box;
}

.nav__button-circle {
  border: solid 2px pink;
  box-sizing: border-box;
}


/*
.nav__button-heading {
  border: solid 2px brown;
  box-sizing: border-box;
}
.nav__item {
  border: solid 2px blue;
  box-sizing: border-box;
}


*/

/* ====================
=== END DEV BORDERS ===
==================== */

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  overflow: hidden;
}

header {
  /* temporary hard-coded height, just for an approximation */
  height: 10vmin;
  min-height: 50px;
}

main {
  overflow: hidden;
  position: relative;
  flex-grow: 1;
}

/* ========
=== NAV ===
======== */

.nav {
  position: absolute;
}

@media (min-width: 600px), (orientation: landscape) {
  .nav--centered {
    height: calc(2 * var(--centered-button-height));
    width: calc(
      2 * (var(--centered-button-height) + var(--button-heading-width))
    );
    right: calc(
      50% - var(--centered-button-height) - var(--button-heading-width)
    );
    top: calc(50% - var(--centered-button-height));
  }

  /* this is docked on the RIGHT */
  .nav--docked {
    height: 100%;
    width: calc(var(--docked-button-height) + var(--button-heading-width));
    right: 1vw;
    top: 0;
  }
}

@media (max-width: 599px) and (orientation: portrait) {
  .nav--centered {
    height: calc(4 * var(--centered-button-height));
    width: calc(2 * var(--button-heading-width));
    right: calc(50% - var(--button-heading-width));
    top: calc(25% - var(--centered-button-height));
  }

  /* this is docked at the TOP */
  .nav--docked {
    width: calc(
      4 * var(--docked-button-height) * var(--top-docked-margin-ratio)
    );
    height: var(--docked-button-height); /* this is wrong */
    padding: 1vmin;
    top: 0;
    right: calc(
      50% - (2 * var(--docked-button-height) * var(--top-docked-margin-ratio))
    );
  }
}

/* ==============
=== NAV__ITEM ===
============== */

.nav__item {
  position: absolute;
  /* display: flex; */
}

@media (min-width: 600px), (orientation: landscape) {
  .nav--docked .nav__item {
    height: calc(var(--docked-button-height) * 1.1);
    width: calc(
      var(--docked-button-height) + var(--top-docked-button-heading-width)
    );
    right: 0;
  }

  .nav--docked .nav__item:nth-of-type(1) {
    top: 0%;
  }

  .nav--docked .nav__item:nth-of-type(2) {
    top: calc(var(--docked-button-height) * var(--right-docked-margin-ratio));
  }

  .nav--docked .nav__item:nth-of-type(3) {
    top: calc(
      var(--docked-button-height) * var(--right-docked-margin-ratio) * 2
    );
  }

  .nav--docked .nav__item:nth-of-type(4) {
    top: calc(
      var(--docked-button-height) * var(--right-docked-margin-ratio) * 3
    );
  }
}

@media (max-width: 599px) and (orientation: portrait) {
  .nav--docked .nav__item {
    width: calc(var(--docked-button-height) * var(--top-docked-margin-ratio));
    height: calc(
      var(--docked-button-height) + var(--docked-button-heading-height)
    );
  }

  .nav--docked .nav__item {
    top: 0;
  }

  .nav--docked .nav__item:nth-of-type(1) {
    right: calc(
      var(--docked-button-height) * var(--top-docked-margin-ratio) * 3
    );
  }

  .nav--docked .nav__item:nth-of-type(2) {
    right: calc(
      var(--docked-button-height) * var(--top-docked-margin-ratio) * 2
    );
  }

  .nav--docked .nav__item:nth-of-type(3) {
    right: calc(
      var(--docked-button-height) * var(--top-docked-margin-ratio) * 1
    );
  }

  .nav--docked .nav__item:nth-of-type(4) {
    right: 0%;
  }
}

.nav--centered .nav__item {
  height: 50%;
  width: 50%;
}

.nav--centered .nav__item:nth-of-type(1) {
  top: 0%;
  right: 50%;
}

.nav--centered .nav__item:nth-of-type(2) {
  top: 0%;
  right: 0%;
}

.nav--centered .nav__item:nth-of-type(3) {
  top: 50%;
  right: 50%;
}

.nav--centered .nav__item:nth-of-type(4) {
  top: 50%;
  right: 0%;
}

/* ================
=== NAV__BUTTON ===
================ */

.nav__button {
  position: absolute;
  top: 0;
  right: 0;
}

@media (min-width: 600px), (orientation: landscape) {
  .nav--centered .nav__item:nth-of-type(2n + 1) .nav__button {
    right: 0;
  }

  .nav--centered .nav__item:nth-of-type(2n) .nav__button {
    right: var(
      --button-heading-width
    ); /* recalculate as right, if necessary for smooth transitions */
  }

  .nav--docked .nav__button {
    right: 0;
  }
}

@media (max-width: 599px) and (orientation: portrait) {
  .nav--centered .nav__item:nth-of-type(1) .nav__button {
    right: 0;
    top: var(--centered-button-height);
  }

  .nav--centered .nav__item:nth-of-type(2) .nav__button {
    right: calc(var(--button-heading-width) - var(--centered-button-height));
    top: var(--centered-button-height);
  }

  .nav--centered .nav__item:nth-of-type(3) .nav__button {
    right: 0;
    top: 0;
  }

  .nav--centered .nav__item:nth-of-type(4) .nav__button {
    right: calc(var(--button-heading-width) - var(--centered-button-height));
    top: 0;
  }

  .nav--docked .nav__button {
    top: 0;
    right: calc((100% - var(--docked-button-height)) / 2);
  }
}

.nav--centered .nav__button {
  height: var(--centered-button-height);
  width: var(--centered-button-height);
}

.nav--docked .nav__button {
  height: var(--docked-button-height);
  width: var(--docked-button-height);
}

/* =======================
=== NAV__BUTTON-CIRCLE ===
======================= */

.nav__button-circle {
  display: block;
  border-radius: 50%;
}

.nav__item:nth-of-type(1) .nav__button-circle {
  background: var(--color-1-md);
}

.nav__item:nth-of-type(2) .nav__button-circle {
  background: var(--color-2-md);
}

.nav__item:nth-of-type(3) .nav__button-circle {
  background: var(--color-3-md);
}

.nav__item:nth-of-type(4) .nav__button-circle {
  background: var(--color-4-md);
}

/* NOT SURE ABOUT DOING IT THIS WAY */
.nav--centered:not(.nav--highlighted) .nav__button-circle {
  width: 70%;
  height: 70%;
  margin: 15%;
}

.nav--centered.nav--highlighted .nav__item--highlighted .nav__button-circle {
  width: 100%;
  height: 100%;
  margin: 0;
}

.nav--centered.nav--highlighted
  .nav__item:not(.nav__item--highlighted)
  .nav__button-circle {
  width: 50%;
  height: 50%;
}

.nav--docked
  .nav__item:not(.nav__item--highlighted):not(.nav__item--selected)
  .nav__button-circle {
  width: 50%;
  height: 50%;
  margin: 25%;
}

.nav--docked .nav__item.nav__item--selected .nav__button-circle {
  width: 100%;
  height: 100%;
  margin: 0;
}

.nav--docked.nav--highlighted
  .nav__item--highlighted:not(.nav__item--selected)
  .nav__button-circle {
  width: 70%;
  height: 70%;
  margin: 15%;
}

.nav--centered .nav__button-circle.up-left {
  margin: 10% 40% 40% 10%;
}

.nav--centered .nav__button-circle.up-right {
  margin: 10% 10% 40% 40%;
}

.nav--centered .nav__button-circle.down-left {
  margin: 40% 40% 10% 10%;
}

.nav--centered .nav__button-circle.down-right {
  margin: 40% 10% 10% 40%;
}

/* ========================
=== NAV__BUTTON-HEADING ===
======================== */

@media (min-width: 600px), (orientation: landscape) {
  .nav--centered .nav__item:nth-of-type(2n + 1) .nav__button-heading {
    right: var(--centered-button-height);
  }

  .nav--centered .nav__item:nth-of-type(2n) .nav__button-heading {
    right: 0;
  }

  .nav--centered .nav__item:nth-of-type(1) .nav__button-heading,
  .nav--centered .nav__item:nth-of-type(2) .nav__button-heading {
    top: 0;
  }

  .nav--centered .nav__item:nth-of-type(3) .nav__button-heading,
  .nav--centered .nav__item:nth-of-type(4) .nav__button-heading {
    top: calc(
      var(--centered-button-height) - var(--centered-button-heading-height)
    );
  }

  .nav--docked .nav__button-heading {
    right: var(--docked-button-height);
    width: var(--top-docked-button-heading-width);
    text-align: right;
  }
}

@media (max-width: 599px) and (orientation: portrait) {
  .nav--centered .nav__item:nth-of-type(1) .nav__button-heading,
  .nav--centered .nav__item:nth-of-type(2) .nav__button-heading {
    right: 0;
    top: calc(
      var(--centered-button-height) - var(--centered-button-heading-height)
    );
  }

  .nav--centered .nav__item:nth-of-type(3) .nav__button-heading,
  .nav--centered .nav__item:nth-of-type(4) .nav__button-heading {
    right: 0;
    top: var(--centered-button-height);
  }

  .nav--docked .nav__button-heading {
    top: var(--docked-button-height);
    right: calc(
      (
          (var(--docked-button-height) * var(--top-docked-margin-ratio)) -
            var(--top-docked-button-heading-width)
        ) / 2
    );
    width: var(--top-docked-button-heading-width);
  }
}

.nav__button-heading {
  display: block; /* or block? */
  width: var(--button-heading-width);
  opacity: 0;
  font-size: 1.75rem;
  box-sizing: border-box;
  position: absolute;
  cursor: default;
}

.nav--transition .nav__button-heading {
  opacity: 0 !important;
  transition: opacity 20ms linear !important;
}

.nav--centered .nav__button-heading {
  height: var(--centered-button-heading-height);
}

.nav--centered .nav__item:nth-of-type(2n + 1) .nav__button-heading {
  text-align: right;
  padding-right: 1.5rem;
}

.nav--centered .nav__item:nth-of-type(2n) .nav__button-heading {
  text-align: left;
  padding-left: 1.5rem;
}

.nav--centered
  .nav__item:nth-of-type(2n + 1):not(.nav__item--highlighted)
  .nav__button-heading {
  transform: translateX(calc(-100px - 10vw));
}

.nav--centered
  .nav__item:nth-of-type(2n):not(.nav__item--highlighted)
  .nav__button-heading {
  transform: translateX(calc(100px + 10vw));
}

.nav--centered .nav__item.nav__item--highlighted .nav__button-heading {
  transform: translateX(0);
  opacity: 1;
}

@media (min-width: 600px) and (orientation: landscape) {
  .nav--docked .nav__button-heading {
    padding-right: 1vw;
    text-align: right;
    font-size: 1.5rem;
  }
}

@media (max-width: 599px), (orientation: portrait) {
  .nav--docked .nav__button-heading {
    text-align: center;
    font-size: 1.25rem;
  }
}

.nav--docked .nav__item.nav__item--selected .nav__button-heading,
.nav--docked .nav__item.nav__item--highlighted .nav__button-heading {
  opacity: 1;
}

.nav__item:nth-of-type(1) .nav__button-heading {
  color: var(--color-1-dk);
}

.nav__item:nth-of-type(2) .nav__button-heading {
  color: var(--color-2-dk);
}

.nav__item:nth-of-type(3) .nav__button-heading {
  color: var(--color-3-dk);
}

.nav__item:nth-of-type(4) .nav__button-heading {
  color: var(--color-4-dk);
}

/* ===========
=== HEADER ===
=========== */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto;
  flex-wrap: wrap;
}

@media (min-width: 600px) {
  width: 80%;
}

@media (max-width: 599px) {
  width: 100%;
}

header > span {
  margin: 0 2rem;
}
.name {
  font-size: 2rem;
  color: #333;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  opacity: 0;
  transform: translateY(-2rem);
  animation-name: dropInAndAppear;
  animation-delay: 2000ms;
  animation-duration: 800ms;
  animation-fill-mode: forwards;
}

.title {
  font-size: 1.2rem;
  color: #555;
  /* text-shadow: 1px 1px 2px #777; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  opacity: 0;
  transform: translateY(-2rem);
  animation-name: dropInAndAppear;
  animation-delay: 2500ms;
  animation-duration: 800ms;
  animation-fill-mode: forwards;
}
