/* ================
=== DEV BORDERS ===
================ */

/*
body {
  border: solid 2px red;
  box-sizing: border-box;
}
*/
header {
  border: solid 2px orange;
  box-sizing: border-box;
}
/*
.main {
  border: solid 2px yellow;
  box-sizing: border-box;
}

.nav {
  border: solid 2px green;
  box-sizing: border-box;
}

.nav__item {
  border: solid 2px blue;
  box-sizing: border-box;
}
.nav__button {
  border: solid 2px purple;
  box-sizing: border-box;
}
*/
.nav__button-circle {
  border: solid 2px pink;
  box-sizing: border-box;
}
.nav__button-heading {
  border: solid 2px brown;
  box-sizing: border-box;
}

/* ====================
=== END DEV BORDERS ===
==================== */

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  overflow: hidden;
}

header {
  /* temporary hard-coded height, just for an approximation */
  height: 10vmin;
  min-height: 50px;
}

main {
  position: relative;
  flex-grow: 1;
}

/* ========
=== NAV ===
======== */

.nav {
  position: absolute;
}

@media (min-width: 600px) and (orientation: landscape) {
  .nav--centered {
    height: calc(2 * var(--button-height));
    width: calc(2 * (var(--button-height) + var(--button-heading-width)));
    right: calc(50% - var(--button-height) - var(--button-heading-width));
    top: calc(50% - var(--button-height));
  }

  /* this is docked on the RIGHT */
  .nav--docked {
    height: 100%;
    width: calc(var(--button-height) + var(--button-heading-width));
    right: 0;
    top: 0;
  }
}

@media (max-width: 599px), (orientation: portrait) {
  .nav--centered {
    height: calc(4 * var(--button-height));
    width: calc(2 * var(--button-heading-width));
    right: calc(50% - var(--button-heading-width));
    top: calc(25% - var(--button-height));
  }

  /* this is docked at the TOP */
  .nav--docked {
    width: 100%;
    height: var(--button-height);
    top: 0;
    right: 0;
  }
}

/* ==============
=== NAV__ITEM ===
============== */

.nav__item {
  position: absolute;
  display: flex;
}

@media (min-width: 600px) and (orientation: landscape) {
  .nav--centered .nav__item:nth-of-type(2n + 1) {
    flex-direction: row-reverse;
  }

  .nav--centered .nav__item:nth-of-type(2n) {
    flex-direction: row;
  }

  .nav--docked .nav__item {
    height: 25%;
    width: calc(var(--button-height) + var(--button-heading-width));
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start; /* this may not be necessary */
  }

  .nav--docked .nav__item {
    right: 0;
  }

  .nav--docked .nav__item:nth-of-type(1) {
    top: 0%;
  }

  .nav--docked .nav__item:nth-of-type(2) {
    top: 25%;
  }

  .nav--docked .nav__item:nth-of-type(3) {
    top: 50%;
  }

  .nav--docked .nav__item:nth-of-type(4) {
    top: 75%;
  }
}

@media (max-width: 599px), (orientation: portrait) {
  .nav--centered .nav__item:nth-of-type(1),
  .nav--centered .nav__item:nth-of-type(2) {
    flex-direction: column-reverse;
  }

  .nav--centered .nav__item:nth-of-type(3),
  .nav--centered .nav__item:nth-of-type(4) {
    flex-direction: column;
  }

  .nav--centered .nav__item:nth-of-type(2n + 1) {
    align-items: flex-end;
  }

  .nav--centered .nav__item:nth-of-type(2n) {
    align-items: flex-start;
  }

  .nav--docked .nav__item {
    width: 25%; /* could maybe compress this a little more */
    height: calc(2 * var(--button-height));
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; /* might want button-headings to align them selves left? or to the outside? */
  }

  .nav--docked .nav__item {
    top: 0;
  }

  .nav--docked .nav__item:nth-of-type(1) {
    right: 75%;
    left: 0%;
  }

  .nav--docked .nav__item:nth-of-type(2) {
    right: 50%;
    left: 25%;
  }

  .nav--docked .nav__item:nth-of-type(3) {
    right: 25%;
    left: 50%;
  }

  .nav--docked .nav__item:nth-of-type(4) {
    right: 0%;
    left: 75%;
  }
}

.nav--centered .nav__item {
  height: 50%;
  width: 50%;
}

.nav--centered .nav__item:nth-of-type(1) {
  top: 0%;
  left: 0%;
}

.nav--centered .nav__item:nth-of-type(2) {
  top: 0%;
  left: 50%;
}

.nav--centered .nav__item:nth-of-type(3) {
  top: 50%;
  left: 0%;
}

.nav--centered .nav__item:nth-of-type(4) {
  top: 50%;
  left: 50%;
}

/* ================
=== NAV__BUTTON ===
================ */

.nav__button {
}

.nav--centered .nav__button {
  height: var(--button-height);
  width: var(--button-height);
}

.nav--docked .nav__button {
  height: var(--button-height);
  width: var(--button-height);
}

/* =======================
=== NAV__BUTTON-CIRCLE ===
======================= */

.nav__button-circle {
  display: block;
  border-radius: 50%;
}

/* NOT SURE ABOUT DOING IT THIS WAY */
.nav--centered:not(.nav--highlighted) .nav__button-circle {
  width: 70%;
  height: 70%;
  margin: 15%;
}

.nav--centered.nav--highlighted .nav__item--highlighted .nav__button-circle {
  width: 100%;
  height: 100%;
  margin: 0;
}

.nav--centered.nav--highlighted
  .nav__item:not(.nav__item--highlighted)
  .nav__button-circle {
  width: 50%;
  height: 50%;
  /* margin: 25%;  NOT NECESSARY, B/C APPROPRIATE MARGINS ADDED BY OTHER CLASSES */
}

/*
.nav--docked:not(.nav--highlighted)
  .nav__item:not(.nav__item--selected)
  .nav__button-circle,
.nav__docked.nav--highlighted
  .nav__item:not(.nav__item--highlighted)
  .nav__button-circle {
  width: 50%;
  height: 50%;
  margin: 25%;
}
*/
.nav--docked
  .nav__item:not(.nav__item--highlighted):not(.nav__item--selected)
  .nav__button-circle {
  width: 50%;
  height: 50%;
  margin: 25%;
}

.nav--docked .nav__item.nav__item--selected .nav__button-circle {
  width: 100%;
  height: 100%;
  margin: 0;
}

.nav--docked.nav--highlighted
  .nav__item--highlighted:not(.nav__item--selected)
  .nav__button-circle {
  width: 70%;
  height: 70%;
  margin: 15%;
}

.nav--centered .nav__button-circle.up-left {
  margin: 10% 40% 40% 10%;
}

.nav--centered .nav__button-circle.up-right {
  margin: 10% 10% 40% 40%;
}

.nav--centered .nav__button-circle.down-left {
  margin: 40% 40% 10% 10%;
}

.nav--centered .nav__button-circle.down-right {
  margin: 40% 10% 10% 40%;
}

/* ========================
=== NAV__BUTTON-HEADING ===
======================== */

.nav__button-heading {
  display: block; /* or block? */
  width: var(--button-heading-width);
  opacity: 0;
}

.nav--centered
  .nav__item:nth-of-type(2n + 1):not(.nav__item--highlighted)
  .nav__button-heading {
  transform: translateX(-50vw);
}

.nav--centered
  .nav__item:nth-of-type(2n):not(.nav__item--highlighted)
  .nav__button-heading {
  transform: translateX(50vw);
}

.nav--centered .nav__item.nav__item--highlighted .nav__button-heading {
  transform: translateX(0);
  opacity: 1;
}

.nav--docked .nav__item.nav__item--selected .nav__button-heading,
.nav--docked .nav__item.nav__item--highlighted .nav__button-heading {
  opacity: 1;
}
