/* ================
=== DEV BORDERS ===
================ */

body {
  border: solid 1px red;
  box-sizing: border-box;
}
header {
  border: solid 1px orange;
  box-sizing: border-box;
}
.main {
  border: solid 1px yellow;
  box-sizing: border-box;
}
.nav {
  border: solid 1px green;
  box-sizing: border-box;
}
.nav__item {
  border: solid 1px blue;
  box-sizing: border-box;
}
.nav__button-container {
  border: solid 1px purple;
  box-sizing: border-box;
}

.nav__button {
  border: solid 1px pink;
  box-sizing: border-box;
}

.nav__button-heading {
  border: solid 1px brown;
  box-sizing: border-box;
}

/* ====================
=== END DEV BORDERS ===
==================== */

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

header {
  /* temporary hard-coded height, just for an approximation */
  height: 10vmin;
  min-height: 50px;
}

main {
  position: relative;
  flex-grow: 1;
}

/* ========
=== NAV ===
======== */

.nav {
  position: absolute;
}

@media (min-width: 600px), (orientation: landscape) {
  .nav--centered {
    height: calc(2 * var(--button-container-height));
    width: calc(
      2 * (var(--button-container-height) + var(--button-heading-width))
    );
    left: calc(
      50% - var(--button-container-height) - var(--button-heading-width)
    );
    top: calc(50% - var(--button-container-height));
  }
}

@media (max-width: 599px) and (orientation: portrait) {
  .nav--centered {
    height: calc(4 * var(--button-container-height));
    width: calc(2 * var(--button-heading-width));
    left: calc(50% - var(--button-heading-width));
    top: calc(25% - var(--button-container-height));
  }
}

@media (min-width: 600px) {
  .nav--docked {
    height: 100%;
    width: 10%; /* approx */
  }
}

@media (max-width: 599px) {
  .nav--docked {
    height: 10%; /* approx */
    width: 100%;
  }
}

/* ==============
=== NAV__ITEM ===
============== */

.nav__item {
  position: absolute;
  display: flex;
}

@media (min-width: 600px), (orientation: landscape) {
  .nav--centered .nav__item:nth-of-type(2n + 1) {
    flex-direction: row-reverse;
  }

  .nav--centered .nav__item:nth-of-type(2n) {
    flex-direction: row;
  }
}

@media (max-width: 599px) and (orientation: portrait) {
  .nav--centered .nav__item:nth-of-type(1),
  .nav--centered .nav__item:nth-of-type(2) {
    flex-direction: column-reverse;
  }

  .nav--centered .nav__item:nth-of-type(3),
  .nav--centered .nav__item:nth-of-type(4) {
    flex-direction: column;
  }

  .nav--centered .nav__item:nth-of-type(2n + 1) {
    align-items: flex-end;
  }

  .nav--centered .nav__item:nth-of-type(2n) {
    align-items: flex-start;
  }
}

.nav--centered .nav__item {
  height: 50%;
  width: 50%;
}

.nav--centered .nav__item:nth-of-type(1) {
  top: 0%;
  left: 0%;
}

.nav--centered .nav__item:nth-of-type(2) {
  top: 0%;
  left: 50%;
}

.nav--centered .nav__item:nth-of-type(3) {
  top: 50%;
  left: 0%;
}

.nav--centered .nav__item:nth-of-type(4) {
  top: 50%;
  left: 50%;
}

/* ==========================
=== NAV__BUTTON-CONTAINER ===
========================== */

.nav__button-container {
  position: relative;
}

.nav--centered .nav__button-container {
  height: var(--button-container-height);
  width: var(--button-container-height);
}

/* ================
=== NAV__BUTTON ===
================ */

.nav__button {
  position: absolute;
  border-radius: 50%;
}

/* NOT SURE ABOUT DOING IT THIS WAY */
.nav--centered:not(.nav--highlighted) .nav__button {
  width: 70%;
  height: 70%;
  margin: 15% 0 0 15%;
}

.nav--centered.nav--highlighted .nav__button.nav__button--highlighted {
  width: 100%;
  height: 100%;
  margin: 0;
}

.nav--centered.nav--highlighted .nav__button:not(.nav__button--highlighted) {
  width: 50%;
  height: 50%;
  margin: 25% 0 0 25%;
}

/* ========================
=== NAV__BUTTON-HEADING ===
======================== */

.nav__button-heading {
  display: inline-block; /* or block? */
  width: var(--button-heading-width);
}
