.nav {
  transition: height var(--nav-transition-duration) 0ms ease,
    width var(--nav-transition-duration) 0ms ease,
    right var(--nav-transition-duration) 0ms ease,
    top var(--nav-transition-duration) 0ms ease;
}

.nav__item {
  transition: height var(--nav-transition-duration) 0ms ease,
    width var(--nav-transition-duration) 0ms ease,
    top var(--nav-transition-duration) 0ms ease,
    right var(--nav-transition-duration) 0ms ease;
}

.nav__button {
  transition: 
    height var(--nav-transition-duration) 0ms ease,
    width var(--nav-transition-duration) 0ms ease,
    top var(--nav-transition-duration) 0ms ease,
    right var(--nav-transition-duration) 0ms ease;  
}

.nav__button-circle {
  transition: margin var(--circle-transition-duration) 0ms ease,
    width var(--circle-transition-duration) 0ms ease,
    height var(--circle-transition-duration) 0ms ease;
}

.nav--docked .nav__button-circle {
  transition: width var(--docked-circle-transition) 0ms ease,
    height var(--docked-circle-transition) 0ms ease,
    margin var(--docked-circle-transition) 0ms ease;
}

.nav__button-heading {
  transition: transform var(--heading-transition-duration) 0ms ease,
    opacity var(--heading-transition-duration) 0ms ease,
    top var(--heading-transition-duration) 0ms ease,
    right var(--heading-transition-duration) 0ms ease;
}
